body {
  font-family: Arial;
  background: #121212;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  width: 400px;
}

input, select, button {
  padding: 10px;
  margin: 10px;
  width: 100%;
}

button {
  background: #ff0000;
  color: white;
  border: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

img {
  width: 100%;
}
